@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #2193b0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #3c484e;
  font-family: 'Trebuchet MS';
}

#root {
  padding: 10px;
  grid-template-columns: repeat(auto-fit, minmax(auto, 976px));
  display: grid;
  justify-content: center;
}