.characters {
  margin-top: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
  grid-row-gap: 1.5em;
  display: grid;
}

@media (max-width: 768px) {
  .characters {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
}

@media (max-width: 480px) {
  .characters {
    grid-template-columns: 1fr;
    grid-gap: 0.8rem;
  }
}